[submodule "white-noise-skill"]
	path = white-noise-skill
	url = https://github.com/benamreview/white-noise-skill
[submodule "recipe-skill"]
	path = recipe-skill
	url = https://github.com/MaxGolden/recipe-skill
[submodule "wake-word-model"]
	path = wake-word-model
	url = https://github.com/MaxGolden/Mycroft-wake-word-model
